.heading {
  font-family: "Inconsolata", sans-serif;
  padding-left: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
}

img {
  width: 60%;
  height: 400px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  gap: 70px;
  padding-bottom: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h1 {
  font-family: "Space Mono", monospace;
  font-weight: bold;
  font-size: 64px;
  width: 80%;
  margin-bottom: 36px;
  margin-top: 0;
  padding-top: 0;
}

.text {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  width: 60%;
  margin-bottom: 64px;
}

button {
  background-color: black;
  width: 200px;
  height: 50px;
  color: white;
  font-family: "Space Mono", monospace;
}

@media screen and (max-width: 500px) {
  .container {
    padding-left: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .content {
    flex-direction: column;
  }

  h1 {
    font-size: 48px;
    letter-spacing: -0.035em;
    padding: 0;
    margin: 0;
    font-family: "Space Mono", monospace;
    font-style: normal;
    width: 100%;
  }

  .heading {
    padding-left: 10px;
  }

  .text {
    padding-top: 30px;
    font-size: 18px;
    line-height: 24px;
    width: 80%;
    margin-bottom: 36px;
  }

  img {
    width: 80%;
    height: 300px;
  }

  button {
    margin-top: 40px;
    margin-left: 20px;
    width: 40%;
  }
}

footer {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #bdbdbd;
}

#dev {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #bdbdbd;
  text-decoration: none;
}
